/* The following line can be included in a src/App.scss */
@import '~bootstrap/scss/bootstrap';

.statusContainer {
    padding-top: 1rem;
}

.mainContainer {
    padding: 1rem;
}

.controlArea {
    margin-top: 2rem;
}