/* The following line can be included in a src/App.scss */
@import '~bootstrap/scss/bootstrap';

.statusContainer {
    padding-top: 1rem;
}

.mainContainer {
    padding: 1rem;
}

.controlArea {
    margin-top: 2rem;
}
 
.spinnercontainer {
    display: flex;
    justify-content: center;
}

.invalidAlertText {
    color: red;
    font-weight: bold;
}

.masonry-holder {
    padding: 10px;
}

.notecard-container {
    padding: 0.5rem;
}

.notecard {
    width: 100%;
}